In [1]:
import pandas
csv = pandas.read_csv("titanic.csv", index_col="PassengerId")
csv.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
sex = csv["Sex"].value_counts()
sex["male"], sex["female"]

(577, 314)

In [3]:
survived = csv["Survived"].value_counts()[1]
round(100.0 * float(survived) / len(csv), 2)

38.38

In [4]:
pclass = csv["Pclass"].value_counts()
round(100.0 * float(pclass[1]) / len(csv), 2)

24.24

In [5]:
round(csv["Age"].mean(),2), round(csv["Age"].median(), 2)

(29.699999999999999, 28.0)

In [6]:
round(csv[["SibSp", "Parch"]].corr()["SibSp"]["Parch"], 2)

0.40999999999999998

In [7]:
def find_between_r(s, f, l):
    try:
        start = s.rindex(f) + len(f)
        end = s.rindex(l, start)
        return s[start:end]
    except ValueError:
        return ""
    
names = csv[csv.Sex == 'female'].Name.str.split(",", expand=True)[1].str.split(".", expand=True)[[0, 1]]
miss = names[names[0].str.strip() == "Miss"][1].str.strip()
mrs = names[names[0].str.strip() == "Mrs"][1].str.strip().apply(find_between_r, args=("(", ")")).str.strip()
fem_names = pandas.concat([miss, mrs]).str.split(" ", expand=True)[0]
fem_names.value_counts().argmax()

'Anna'